In [211]:
# Following Libraries are being used
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import r2_score

from sklearn import linear_model #For missing values
from sklearn.preprocessing import StandardScaler #For scaling features

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor #Random Forest Regressor
from sklearn.ensemble import BaggingRegressor #Bagging Regressor
from sklearn.neighbors import KNeighborsRegressor #KNN Regressor
from sklearn.linear_model import LinearRegression #Linear Regressor

In [212]:
# Load training data
df = pd.read_csv('Googlestore.csv')
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [213]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [214]:
print(df.isnull().sum())

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [215]:
df = df.ffill(axis = 0)
print(df.isnull().sum())

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

In [216]:
df = df.drop(columns=['App', 'Last Updated', 'Current Ver', 'Android Ver'])
df

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity
...,...,...,...,...,...,...,...,...,...
10836,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education
10837,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education
10838,MEDICAL,5.0,3,9.5M,"1,000+",Free,0,Everyone,Medical
10839,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference
10840,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle

In [217]:
print(df.columns.tolist())

['Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type', 'Price', 'Content Rating', 'Genres']

In [218]:
df[df['Rating'] > 5]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres
10472,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,Everyone,"February 11, 2018"

In [219]:
df[df['Rating'] > 5]

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres
10472,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,Everyone,"February 11, 2018"

In [220]:
df = df.drop(df[df.Rating > 5].index)

In [221]:
df

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity
...,...,...,...,...,...,...,...,...,...
10836,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education
10837,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education
10838,MEDICAL,5.0,3,9.5M,"1,000+",Free,0,Everyone,Medical
10839,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference
10840,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle

In [222]:
print(df.Rating.unique())

[4.1 3.9 4.7 4.5 4.3 4.4 3.8 4.2 4.6 3.2 4.  4.8 4.9 3.6 3.7 3.3 3.4 3.5
 3.1 5.  2.6 3.  1.9 2.5 2.8 2.7 1.  2.9 2.3 2.2 1.7 2.  1.8 2.4 1.6 2.1
 1.4 1.5 1.2]

In [223]:
print(df.Category.unique())

['ART_AND_DESIGN' 'AUTO_AND_VEHICLES' 'BEAUTY' 'BOOKS_AND_REFERENCE'
 'BUSINESS' 'COMICS' 'COMMUNICATION' 'DATING' 'EDUCATION' 'ENTERTAINMENT'
 'EVENTS' 'FINANCE' 'FOOD_AND_DRINK' 'HEALTH_AND_FITNESS' 'HOUSE_AND_HOME'
 'LIBRARIES_AND_DEMO' 'LIFESTYLE' 'GAME' 'FAMILY' 'MEDICAL' 'SOCIAL'
 'SHOPPING' 'PHOTOGRAPHY' 'SPORTS' 'TRAVEL_AND_LOCAL' 'TOOLS'
 'PERSONALIZATION' 'PRODUCTIVITY' 'PARENTING' 'WEATHER' 'VIDEO_PLAYERS'
 'NEWS_AND_MAGAZINES' 'MAPS_AND_NAVIGATION']

In [224]:
print(df.Genres.unique())

['Art & Design' 'Art & Design;Pretend Play' 'Art & Design;Creativity'
 'Art & Design;Action & Adventure' 'Auto & Vehicles' 'Beauty'
 'Books & Reference' 'Business' 'Comics' 'Comics;Creativity'
 'Communication' 'Dating' 'Education;Education' 'Education'
 'Education;Creativity' 'Education;Music & Video'
 'Education;Action & Adventure' 'Education;Pretend Play'
 'Education;Brain Games' 'Entertainment' 'Entertainment;Music & Video'
 'Entertainment;Brain Games' 'Entertainment;Creativity' 'Events' 'Finance'
 'Food & Drink' 'Health & Fitness' 'House & Home' 'Libraries & Demo'
 'Lifestyle' 'Lifestyle;Pretend Play' 'Adventure;Action & Adventure'
 'Arcade' 'Casual' 'Card' 'Casual;Pretend Play' 'Action' 'Strategy'
 'Puzzle' 'Sports' 'Music' 'Word' 'Racing' 'Casual;Creativity'
 'Casual;Action & Adventure' 'Simulation' 'Adventure' 'Board' 'Trivia'
 'Role Playing' 'Simulation;Education' 'Action;Action & Adventure'
 'Casual;Brain Games' 'Simulation;Action & Adventure'
 'Educational;Creativity' 'Puzzle;Brain Games' 'Educational;Education'
 'Card;Brain Games' 'Educational;Brain Games' 'Educational;Pretend Play'
 'Entertainment;Education' 'Casual;Education' 'Music;Music & Video'
 'Racing;Action & Adventure' 'Arcade;Pretend Play'
 'Role Playing;Action & Adventure' 'Simulation;Pretend Play'
 'Puzzle;Creativity' 'Sports;Action & Adventure'
 'Educational;Action & Adventure' 'Arcade;Action & Adventure'
 'Entertainment;Action & Adventure' 'Puzzle;Action & Adventure'
 'Strategy;Action & Adventure' 'Music & Audio;Music & Video'
 'Health & Fitness;Education' 'Adventure;Education' 'Board;Brain Games'
 'Board;Action & Adventure' 'Board;Pretend Play' 'Casual;Music & Video'
 'Role Playing;Pretend Play' 'Entertainment;Pretend Play'
 'Video Players & Editors;Creativity' 'Card;Action & Adventure' 'Medical'
 'Social' 'Shopping' 'Photography' 'Travel & Local'
 'Travel & Local;Action & Adventure' 'Tools' 'Tools;Education'
 'Personalization' 'Productivity' 'Parenting' 'Parenting;Music & Video'
 'Parenting;Education' 'Parenting;Brain Games' 'Weather'
 'Video Players & Editors' 'Video Players & Editors;Music & Video'
 'News & Magazines' 'Maps & Navigation'
 'Health & Fitness;Action & Adventure' 'Educational' 'Casino'
 'Adventure;Brain Games' 'Trivia;Education' 'Lifestyle;Education'
 'Books & Reference;Creativity' 'Books & Reference;Education'
 'Puzzle;Education' 'Role Playing;Education' 'Role Playing;Brain Games'
 'Strategy;Education' 'Racing;Pretend Play' 'Communication;Creativity'
 'Strategy;Creativity']

In [225]:
print(df['Category'].str.isnumeric())

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840    False
Name: Category, Length: 10840, dtype: bool

In [226]:
(df['Size'].eq('exact_string')).any()

False

In [227]:
print(df['Size'].str.isnumeric())

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838    False
10839    False
10840    False
Name: Size, Length: 10840, dtype: bool

In [228]:
(df['Price'].eq('exact_string')).any()

False

In [229]:
df1 = df.copy()
df1

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity
...,...,...,...,...,...,...,...,...,...
10836,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education
10837,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education
10838,MEDICAL,5.0,3,9.5M,"1,000+",Free,0,Everyone,Medical
10839,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference
10840,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle

In [230]:
df1['Price'] = df1['Price'].apply(lambda x : x.strip('$'))
df1['Installs'] = df1['Installs'].apply(lambda x : x.strip('+').replace(',', ''))

In [231]:
df1['Price'] = df1['Price'].astype(float)
df1['Installs'] = df1['Installs'].astype(float)
df1['Reviews'] = df1['Reviews'].astype(float)

In [232]:
x = df.iloc[:,3:6].values
x

array([['19M', '10,000+', 'Free'],
       ['14M', '500,000+', 'Free'],
       ['8.7M', '5,000,000+', 'Free'],
       ...,
       ['9.5M', '1,000+', 'Free'],
       ['Varies with device', '1,000+', 'Free'],
       ['19M', '10,000,000+', 'Free']], dtype=object)

In [233]:
y = df.iloc[:,2].values
y

array(['159', '967', '87510', ..., '3', '114', '398307'], dtype=object)

In [234]:
print(df1['Type'].unique().tolist())

['Free', 'Paid']

In [235]:
print(df1.isnull().sum())

Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
dtype: int64

In [236]:
df1['type'] = df1['Type'].replace({'nan':0})

In [237]:
print(df1['Type'].unique().tolist())

['Free', 'Paid']

In [238]:
##df1['type'] = df1['type'].replace({'Free':0, "Paid":1})b

In [239]:
df1['Installs'] = df1['Installs'].astype('string')

In [240]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10840 non-null  object
 1   Rating          10840 non-null  float64
 2   Reviews         10840 non-null  float64
 3   Size            10840 non-null  object
 4   Installs        10840 non-null  string
 5   Type            10840 non-null  object
 6   Price           10840 non-null  float64
 7   Content Rating  10840 non-null  object
 8   Genres          10840 non-null  object
 9   type            10840 non-null  object
dtypes: float64(3), object(6), string(1)
memory usage: 931.6+ KB

In [241]:
df1['Installs'] = df1['Installs'].str.replace('+','').str.replace(',','').astype(float)

C:\Users\dell-pc\AppData\Local\Temp/ipykernel_16204/2394804715.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df1['Installs'] = df1['Installs'].str.replace('+','').str.replace(',','').astype(float)

In [242]:
df1['Size'] = df1['Size'].replace({'Varies with device':0})

In [243]:
df1.Size = (df1.Size.replace(r'[kM]+$', '', regex=True).astype(float) * \
             df1.Size.str.extract(r'[\d\.]+([KM]+)', expand=False).fillna(1)
            .replace(['k','M'], [10**3, 10**6]).astype(int))

In [244]:
df1

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,type
0,ART_AND_DESIGN,4.1,159.0,19000000.0,10000.0,Free,0.0,Everyone,Art & Design,Free
1,ART_AND_DESIGN,3.9,967.0,14000000.0,500000.0,Free,0.0,Everyone,Art & Design;Pretend Play,Free
2,ART_AND_DESIGN,4.7,87510.0,8700000.0,5000000.0,Free,0.0,Everyone,Art & Design,Free
3,ART_AND_DESIGN,4.5,215644.0,25000000.0,50000000.0,Free,0.0,Teen,Art & Design,Free
4,ART_AND_DESIGN,4.3,967.0,2800000.0,100000.0,Free,0.0,Everyone,Art & Design;Creativity,Free
...,...,...,...,...,...,...,...,...,...,...
10836,FAMILY,4.5,38.0,53000000.0,5000.0,Free,0.0,Everyone,Education,Free
10837,FAMILY,5.0,4.0,3600000.0,100.0,Free,0.0,Everyone,Education,Free
10838,MEDICAL,5.0,3.0,9500000.0,1000.0,Free,0.0,Everyone,Medical,Free
10839,BOOKS_AND_REFERENCE,4.5,114.0,0.0,1000.0,Free,0.0,Mature 17+,Books & Reference,Free
10840,LIFESTYLE,4.5,398307.0,19000000.0,10000000.0,Free,0.0,Everyone,Lifestyle,Free

In [245]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [246]:
le = LabelEncoder()
cols = ['Price', 'Type']
df1[cols] = df1[cols].apply(LabelEncoder().fit_transform)
df1.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,type
0,ART_AND_DESIGN,4.1,159.0,19000000.0,10000.0,0,0,Everyone,Art & Design,Free
1,ART_AND_DESIGN,3.9,967.0,14000000.0,500000.0,0,0,Everyone,Art & Design;Pretend Play,Free
2,ART_AND_DESIGN,4.7,87510.0,8700000.0,5000000.0,0,0,Everyone,Art & Design,Free
3,ART_AND_DESIGN,4.5,215644.0,25000000.0,50000000.0,0,0,Teen,Art & Design,Free
4,ART_AND_DESIGN,4.3,967.0,2800000.0,100000.0,0,0,Everyone,Art & Design;Creativity,Free

In [247]:

df1.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,type
0,ART_AND_DESIGN,4.1,159.0,19000000.0,10000.0,0,0,Everyone,Art & Design,Free
1,ART_AND_DESIGN,3.9,967.0,14000000.0,500000.0,0,0,Everyone,Art & Design;Pretend Play,Free
2,ART_AND_DESIGN,4.7,87510.0,8700000.0,5000000.0,0,0,Everyone,Art & Design,Free
3,ART_AND_DESIGN,4.5,215644.0,25000000.0,50000000.0,0,0,Teen,Art & Design,Free
4,ART_AND_DESIGN,4.3,967.0,2800000.0,100000.0,0,0,Everyone,Art & Design;Creativity,Free

In [248]:
X = df1[['Reviews','Size','Installs','Type','Price']]
y = df1['Rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [249]:
print("Training Set Dimensions:", X_train.shape)
print("Validation Set Dimensions:", X_test.shape)

Training Set Dimensions: (8672, 5)
Validation Set Dimensions: (2168, 5)

In [250]:

model = LinearRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)
y_predict
a = model.score(X_test, y_test)
meanAbErr = metrics.mean_absolute_error(y_test, y_predict)
meanSqErr = metrics.mean_squared_error(y_test, y_predict)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_predict))
print('R squared: {:.2f}'.format(a*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 0.83
Mean Absolute Error: 0.3783143604748185
Mean Square Error: 0.2892788660910703
Root Mean Square Error: 0.537846507928675

In [254]:
randomf = RandomForestRegressor(n_estimators=300)
randomf.fit(X_train, y_train)

# Measure mean squared error for training and validation sets

print('Mean squared Error for Training Set:', mean_squared_error(y_train, randomf.predict(X_train)))
print('Mean squared Error for Test Set:', mean_squared_error(y_test, randomf.predict(X_test)))

R squared: -2.54
Mean squared Error for Training Set: 0.0627128131899603
Mean squared Error for Test Set: 0.2991116225224134

In [252]:
br = BaggingRegressor(random_state=300)
                            
br.fit(X_train, y_train)

# Measure mean squared error for training and validation sets
print('Mean squared Error for Training Set:', mean_squared_error(y_train, br.predict(X_train)))
print('Mean squared Error for Test Set:', mean_squared_error(y_test, br.predict(X_test)))

Mean squared Error for Training Set: 0.07838988295917144
Mean squared Error for Test Set: 0.3211862740983998

In [253]:
knr = KNeighborsRegressor(n_neighbors = 5)
knr.fit(X_train, y_train)

# Measure mean squared error for training and validation sets
print('Mean squared Error for Training Set:', mean_squared_error(y_train, knr.predict(X_train)))
print('Mean squared Error for Test Set:', mean_squared_error(y_test, knr.predict(X_test)))

Mean squared Error for Training Set: 0.22267905904059043
Mean squared Error for Test Set: 0.3187667896678967